*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #ffffff;
}
/* Start of Landing page */
.landing-page{
    width: 100%;
    height: 66vh;
    background-image: url(/images/blue_bg.png);
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 22%;
}
/* Start the header */
.landing-page header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.landing-page .header-left{
    display: flex;
    width: 60%;
    height: 100px;
}
.landing-page .header-left ul{
    display: flex;
    width: 60%;
    height: 60px;
}
.landing-page .header-left ul li {
    list-style-type: none;
    margin-left: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.landing-page .header-left img{
    width: 98px;
    height: 64px;
    padding-top: 9px;
}
.landing-page .header-left ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

    color: #626f75;
}
.landing-page .header-left ul li .active{
    position: relative;
}
.landing-page .header-left ul li .active::after{
    content: "";
    width: 60%;
    position: absolute;
    background-color: #a464cb;
    height: 1.5px;
    left: 0;
    bottom: -2px;
}
.landing-page .header-right {
    width: 20%;
    height: 55px;
    display: flex;
    
}
.landing-page .header-right button{
    width: 85px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: white;
    color: #626f75;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
}
/* End the header */

/* Start midlle landng page */
.landing-page_middle{
    width: 100%;
    height: 335px;
    display: flex;
    justify-content: space-around;

}
.landing-page_middle .text-area {
    margin-top: 120px;
    width: 500px;
    padding-right: 100px;
}
.landing-page_middle .text-area h2{
    color: #65747b;
    font-weight: 500;
    font-size: 43px;
    height: 62px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}
.landing-page_middle .text-area h2 strong{
    color: #80529d;
    font-weight: 600;
    
}
.landing-page_middle .text-area p{
    color: #777777c7;
    font-size: 20px;
}
.img-area{
    position: relative;
    left: -15%;
}
.img-area::before{
    content: "";
    width: 517px;
    height: 570px;
    background-image: url(/images/landing_bg.png);
    background-size: cover;
    position: absolute;
    z-index: 9;
    left: -120px;
    top: -34px;
    border-radius: 25%;
}
.img-area .man{
    height: 350px;
    position: relative;
    z-index: 10;
}

.img-area .cloud {
    height: 190px;
    position: absolute;
    top: 270px;
    left: -50%;
    z-index: 11;
}
.waves{
    width: 60%;
    position: relative;
}
.waves img{
    width: 100%;
    position: absolute;
    z-index: 15;
    top: 40px;
    left: 88px;
}
/* End midlle landng page */

/* End of Landing page */

/* Start of middle page */
.middle-page{
    width: 100%;
    height: 77vh;
    position: relative;
    padding-bottom: 50px;
}
.image-train{
    position: absolute;
    left: 15%;
    top: 10%;
}
.train{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.content{
    display: flex;
    justify-content: center;
}
.content .first-div{
    position: absolute;
    top: 90px;
    left: -270px;
    width: 600px;
    text-align: center;
}
.content-2{
    display: flex;
    justify-content: center;
}
.content-2 .second-div{
    position: absolute;
    top: 250px;
    left: 300px;
    width: 400px;
    height: auto;
    text-align: center;
}
.text-area-1 h3{
    padding-top: 7px;
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 5px;
    color: #959595;
}
.text-area-1 p{
    color: #777777;
    line-height: 1.5;
}
.second-div h3{
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 5px;
    color: #959595;
}
.second-div p{
    color: #777777;
    line-height: 1.5;
}
.second-images{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.content-3{
    position: relative;
    bottom: -620px;
    right: 140px;
}
.content-3 .image-one{
    position: relative;
    
}
.content-3 .image-one img{
    width: 85%;
}
.content-3 .text-area{
    position: absolute;
    top: 36%;
    left: 25%;
    color: white;
}
.content-3 .text-area h3{
    font-size: 44px;
    font-weight: 400;
    width: 100%;
}
.content-4{
    position: relative;
    bottom: -660px;
    left: -88px;
    text-align: center;
}
.content-4 .text-area h3{
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 5px;
    color: #959595;
    padding-top: 5px;
}
.content-4 .text-area p{
    color: #777777;
    line-height: 1.5;
}
/* End of middle page */

/* Start of section 3 */
.section-three{
    margin-top: 290px;
    width: 100%;
    height: 50vh;
}
.section-three .section-contiener{
    display: flex;
    justify-content: center;
}
.section-three .section-contiener .two{
    width: 600px;
    text-align: center;
    position: relative;
}
.section-three .section-contiener .two .text-area{
    margin-top: -30px;
}
.section-three .section-contiener .two i{
    position: absolute;
    top: 50%;
}
.section-three .section-contiener .two .fa-chevron-right{
    top: 65%;
    right: 60px;
}
.section-three .section-contiener .two .fa-chevron-right,.section-three .section-contiener .two .fa-chevron-left{
    color: #626f75;
    cursor: pointer;
}
.section-three .section-contiener .two .fa-chevron-left{
    top: 65%;
    left: 60px;
}
.section-three .section-contiener .two .text-area h3{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
    color: #959595;
}
.section-three .section-contiener .two .text-area p{
    color: #777777;
    line-height: 1.5;
    font-size: 19px;
    padding-top: 24px;
}

.section-three .section-contiener .two img{
    width: 450px;
    padding-right: 80px;
} 
.section-three .section-contiener .one {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 25%;
    padding-bottom: 89px;
}
.section-three .section-contiener .three{
    display: flex;
    align-items: center;
    width: 25%;
}

footer{
    width: 100%;
    height: 59vh;
    margin-top: 60px;
    position: relative;
}

footer .footer-section{
    background-image: url(/images/Group\ 1131-edited.png);
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.footer-right{
    display:flex ;   
    justify-content: start; 
    align-items: end;
    width: 700px;
    height: 59vh;
    margin-right: 120px;
}
.footer-right img{
    width: 700px;
    height: 100%;
    padding-top: 9px;
}
.footer-left{
    margin-top: 170px;
    margin-left: 40px;
    width: 700px;
}
.app-playe-sectios{
    display: flex;
    align-items: center;
    padding-top: 140px;
}
.app-playe-sectios .app-store-one{
    margin-right: 20px;
}
.app-playe-sectios .app-store-one, .app-playe-sectios .app-store-two{
    display: flex;
    width: 140px;
    height: 55px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.app-playe-sectios .app-store-one h5, .app-playe-sectios .app-store-two h5{
    color: #65747b;
    margin-left: 5px;
}
.icons-section{
    padding-top: 19px;
    display: flex;
    justify-content: start;
    width: 340px;
}
.icons-section img {
    margin-left: 14px;
    cursor: pointer;
}
.links-section {
    list-style-type: none;
    display: flex;
    padding-top: 29px;
}
.links-section li{
    margin-right: 33px;
    
}
.links-section li a{
    text-decoration: none;
    color: white;

}
/* Media query  */
@media only screen and (min-width: 601px) and (max-width: 1400px){
    .landing-page_middle .text-area
{
    margin-top: 120px;
    width: 500px;
    padding-right: 229px;
}
    .content .first-div{
    position: absolute;
    top: 65px;
    left: -273px;
    width: 545px;
    text-align: center;
}
.content .first-div img{
    width: 150px;
}
.text-area-1 h3
{
    font-size: 15px;
}
.text-area-1 p{
    font-size: 12px;
}
.landing-page .header-left
{
    display: flex;
    width: 75%;
    height: 100px;
}
.middle-page
{
    width: 1080px;
    height: 77vh;
    position: relative;
    padding-bottom: 50px;
    margin: 0;
    left: 0;

}
.content-2 .second-div
{
    position: absolute;
    top: 142px;
    left: 191px;
    width: 400px;
    height: auto;
    text-align: center;
    z-index: 20;
}
.second-div h3
{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
    color: #959595;
}
.second-div p
{
    color: #777777;
    line-height: 1.5;
    font-size: 13px;
}
.content-3
{
    position: relative;
    bottom: -474px;
    right: 54px;
}
.section-three
{
    margin-top: 105px;
    width: 100%;
    height: 50vh;
}
.content-3 .text-area
{
  position: absolute;
  top: 29%;
  left: 18%;
  color: white;
}
.content-4
{
    position: relative;
    bottom: -462px;
    left: -5px;
    text-align: center;
}
.train img{
    width: 853px;
}
.content-4 .image-two img{
    width: 240px;
}
.content-4 .text-area p
{
  color: #777777;
  line-height: 1.5;
  font-size: 13px;
}
.content-3 .image-one img
{
  width: 75%;
}
.section-contiener .one img,.section-contiener .three img{
    width: 200px;
}
.section-three .section-contiener .two .text-area h3
{
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 5px;
  color: #959595;
}
.section-three .section-contiener .two .text-area p
{
  color: #777777;
  line-height: 1.5;
  font-size: 15px;
  padding-top: 24px;
}

.footer-left
{
  margin-top: 170px;
  margin-left: 107px;
  width: 700px;
}
.links-section
{
  list-style-type: none;
  display: flex;
  padding-top: 29px;
  font-size: 13px;
}
}